html, body {

    font-family: sans-serif;
    font-size: 100%;

}


body {
 background-color:#2eb1f2;
 color: #ffffff;
}


#login{
     font-size: 15px;
}
#logout{
     font-size: 15px;
}
#register{
     font-size: 15px;
}
.name{
    text-align-last: end;
    text-shadow: 2px 2px #7f8280;
}

.card-body{
    background-color: #000000;
}

.dropdown-menu{
    background-color: #000000;
}

hr {
  border: 1px solid white;
}

.custom-range{
    text-align-last: end;
    text-shadow: 2px 2px #7f8280;
}

.blinking{
    animation:blinkingText 1.5s infinite;
}
@keyframes blinkingText{
    0%{     color: #9b00de;  }
    49%{    color: #2500de; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #007acc;    }
}
