{% extends 'home.jinja2' %}

{% block title %} {{name}} {% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid" id="admin">
  <div class="container">


    <h1 class="display-4">Administrator controler</h1>
    <p class="lead">{{request.user.name}}</p>
  </div>
</div>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header p-2 bg-dark" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-outline-link text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <strong>Users, Posts and Roles</strong>
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      <h2>Users list</h2>
        {% set d = [] %}
        {% set u = [] %}
      {% for user in users %}
                {% set d = [] %}
                {% set u = [] %}

      {% if user.name != 'admin' %}
      <br>
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-light">Name: {{ user.name }} - Role: {{user.role}}</li>
        <a class="list-group-item list-group-item-action" href="{{ request.route_url('delete_user', user=user.name) }}"> Delete </a>
        <a class="list-group-item list-group-item-action" href="{{ request.route_url('edit_user', user=user.name) }}"> Edit role </a>
        <a class="list-group-item list-group-item-action" href="{{request.route_url('posts_by_user', user=user.name)}}"> Posts</a><br>
        <a class="list-group-item list-group-item-action" href="{{request.route_url('tasks')}}"> Assign a task</a><br>
          {% for task in tasks %}
          {% if task.user_id == user.id %}
          {% if task.done == False %}
          {% if u.append(u|count+1) %}{% endif %}

          {% endif %}

          {% if task.done == True %}
          {% if d.append(d|count+1) %}{% endif %}

          {% endif %}


          {% endif %}

          {% endfor %}
          <a class="list-group-item list-group-item-action" href="{{request.route_url('tasks_by_user', user=user.name)}}">
            Incomplete Tasks: <strong style="color:red;">{{u|last}}</strong>
            Completed Tasks <strong style="color:green;">{{d|last}}</strong></a><br>
      </ul>
      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-2 bg-dark" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <strong>{{ request.user.name }} posts</strong>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
       <h2>Posts:</h2>
      {% for post in posts %}
      <dl>
          <dt>Title: {{post.title}} | Date: {{post.date}}</dt>
              <dd>{{post.text}}</dd>
      </dl>
        <a class="btn btn-outline-primary" href="{{request.route_url('delete_post', post_id=post.id)}}" role="button">Delete</a>
        <a class="btn btn-outline-primary" href="{{request.route_url('edit_post', user=request.user.name, post_id=post.id)}}" role="button">Edit</a>

        <hr>
      {% endfor %}
      </div>
    </div>
  </div>
</div>


{% endblock content %}








