{% extends 'home.jinja2' %}

{% block title %} {{name}} {% endblock title %}

{% block content %}

<h1>Edit</h1>
<h2>{{user.name}}</h2>

<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-light">Name: {{ user.name }} - Role: {{user.role}}</li>
</ul>
<form class="form-inline" action="{{ url }}" method="post">
<input type="hidden" name="next" value="{{ next_url }}">
<label for="role" class="my-1 mr-2">Role</label>
  <select name="role" class="custom-select my-1 mr-sm-2">
    <option selected>Choose...</option>
    <option value="admin">Admin</option>
    <option value="guest">Guest</option>
    <option value="salesman">Salesman</option>
    <option value="company">Company</option>
    <option value="customer">Customer</option>
  </select>
  <button type="submit" name="form.submitted"  value="Edit" class="btn btn-outline-dark my-1">Submit</button>
</form>
{% endblock content %}
