{% extends 'home.jinja2' %}

{% block title %} {{name}} {% endblock title %}
{% block content %}

<h1>Post a posta Post</h1>
<h2>{{request.user.name}}</h2>


<!--
<div>
    <span> Profile Image</span>

    <img src="data:;base64,{{ img }}"/>
</div>
-->


<form action="{{ url }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
<input type="hidden" name="next" value="{{ next_url }}">
    <label for="customRange3">Elige un numero</label>
    <input type="range" class="custom-range" min="0" max="1" step="1" id="customRange3" name="selected_number">
    <button type="submit" name="form.submitted" value="Number selection" class="btn btn-info">Join</button>

</form>
{% endblock content %}
