{% extends 'home.jinja2' %}

{% block title %} {{name}} {% endblock title %}
{% block content %}
<div class="jumbotron jumbotron-fluid" id="post-by-user">
  <div class="container">


    <h1 class="display-4">Posted by:</h1>
    <p class="lead">{{user.name}}</p>
  </div>
</div>

<dl>
    <dt>User name: {{user.name}}</dt>
</dl>
<div>
    <span class="d-block p-2 bg-dark text-white"><strong>Profile Image</strong>
        <img src="data:;base64,{{ img }}" class="img-fluid" alt="Responsive image"/>
    </span>
</div>
{% for post in posts %}
<dl>
    <dt>Title: {{post.title}} | Date: {{post.date}}</dt>
        <dd>{{post.text}}</dd>
</dl>
<hr>
{% endfor %}

{% endblock content %}
