{% extends 'home.jinja2' %}

{% block title %} {{name}} {% endblock title %}

{% block content %}

<p>
<strong>
    Register
</strong><br></p>

<form action="{{ url }}" method="post">
<input type="hidden" name="next" value="{{ next_url }}">
<div class="form-group">
    <label for="register">Username</label>
    <input type="text" class="form-control w-25" maxlength="40" required name="register" value="{{ register }}">
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control w-25" maxlength="40" required name="password">
</div>
<div class="form-group">
    <button type="submit" name="form.submitted" value="Register" class="btn btn-info">Register</button>
</div>
</form>





{% endblock content %}
