{% extends 'home.jinja2' %}

{% block title %} {{name}} {% endblock title %}

{% block content %}

<h1>Task by user</h1>
<h2>{{user.name}}</h2>
<form class="form-inline" action="{{ url }}" method="post">
<input type="hidden" name="next" value="{{ next_url }}">
        <div>
        {% for task in user_tasks %}
        Task created: {{ task.date }}<br>Actived at: {{ task.active_date }} <br>Finished at: {{ task.finish }} <br>Total Working Time: {{ task.time_working }}<br>
        Task: {{ task.task }}
        <div class="custom-control custom-switch">

          {% if task.done == False and task.active == True %}
          <input type="checkbox" class="custom-control-input" id="pausetask" checked disabled>
            <label class="custom-control-label" for="donetask">TASK STATE: <strong class="blinking">| ACTIVE |</strong></label>
            <div>
          <button type="submit" name="pause" value="{{ task.id }}" class="btn btn-warning my-1">PAUSE TASK</button>
            </div>
          {% endif %}

            {% if task.done == False %}
          <input type="checkbox" class="custom-control-input" id="donetask" checked disabled>
            <div>
          <button type="submit" name="finish" value="{{ task.id }}" class="btn btn-danger my-1">FINISH TASK</button>
            </div>
          {% endif %}


          {% if task.active == False and task.done == False %}
          <input type="checkbox" class="custom-control-input" id="undonetask" disabled>
            <label class="custom-control-label" for="undonetask">TASK STATE: <strong class="blinking">| PAUSED |</strong>
            </label>
            <div>
          <button type="submit" name="active" value="{{ task.id }}" class="btn btn-primary my-1">ACTIVE!</button>
            </div>
          {% endif %}
                {% if task.done == True %}
                <strong style="color:green;">| TASK COMPLETED |</strong>
                {% else %}
                <strong style="color:red;">| TASK INCOMPLETED |</strong>
                {% endif %}
        </div>
        <hr>
        <br>

        {% endfor %}
        </div>


</form>
{% endblock content %}

