{% extends 'home.jinja2' %}

{% block title %} {{name}} {% endblock title %}
{% block content %}
<span style="color: grey;">You are connected from {{city}} {{country}}</span><br>
{% if greeting == 'Good morning' %}
<div class="jumbotron jumbotron-fluid" id="morning">
  <div class="container">


    <h1 class="display-4">{{greeting}}</h1>
    <p class="lead" style="color: black;">{{request.user.name}}</p>
  </div>
</div>
{% endif %}

{% if greeting == 'Good afternoon'%}
<div class="jumbotron jumbotron-fluid" id="afternoon">
  <div class="container">


    <h1 class="display-4">{{greeting}}</h1>
    <p class="lead">{{request.user.name}}</p>
  </div>
</div>
{% endif %}

{% if greeting == 'Good night'%}
<div class="jumbotron jumbotron-fluid" id="night">
  <div class="container">


    <h1 class="display-4">{{greeting}}</h1>
    <p class="lead">{{request.user.name}}</p>
  </div>
</div>
{% endif %}
{% if greeting == None %}
<div class="jumbotron jumbotron-fluid" id="hello">
  <div class="container">


    <h1 class="display-4">Hello</h1>
    <p class="lead">{{request.user.name}}</p>
  </div>
</div>
{% endif %}
<span><strong>User Posts:</strong></span>
{% for post in posts %}
<dl>
    <dt>Title: {{post.title}} | Date: {{post.date}}</dt>
    <dt>City: {{post.city_name}} | Province: {{post.province_name}} | Country: {{post.country_name}}</dt>

        <dd>{{post.text}}</dd>
</dl>
<a class="btn btn-outline-dark" href="{{request.route_url('delete_post', post_id=post.id)}}" role="button">Delete</a>
<a class="btn btn-outline-dark" href="{{request.route_url('edit_post', user=request.user.name, post_id=post.id)}}" role="button">Edit</a>
<hr>
{% endfor %}

{% endblock content %}

